<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <dist:module dist:instant="true" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="PC Build Helper"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:taskAffinity=""
        tools:ignore="AllowBackup">

        <activity
            android:name=".MainActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:resizeableActivity="true"
            android:rotationAnimation="seamless"
            android:theme="@style/AppTheme"
            tools:targetApi="O">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.notch_support"
                android:value="true" />

        </activity>
    </application>
</manifest>
